/*--body-background-color--*/

@if $body_background_type == 'bg_color'{
.o_web_client{background:$body_background_color;color:$body_font_color;font-family:$body_font_family!important;}
.o_control_panel{background-color:$body_background_color!important;font-family:$body_font_family!important;}
.breadcrumb{background-color:$body_background_color!important;font-family:$body_font_family!important;}
}


.o_cp_buttons .btn-secondary{border: 1.5px solid $primaryColor !important;background: #fff;border-radius: 0px!important;}
.o_cp_buttons .btn.btn-primary{border: 1.5px solid $primaryColor !important;font-weight: 500;}
.o_statusbar_buttons .btn.btn-primary{border: 1.5px solid $primaryColor!important;}
// .o_statusbar_buttons .btn-secondary{border: 1.5px solid $primaryColor!important;background: #fff;}
.o_main_navbar>a:hover,
.o_main_navbar>a:focus,
.o_main_navbar>button:hover,
.o_main_navbar>button:focus {background-color: $header_active_color !important;}
.o_form_statusbar .o_statusbar_status .btn-secondary.disabled,
.btn-secondary:disabled {
	background-color: #e8e8e8;
	border-color: #e8e8e8;
	color: #212529 !important;
}
.modal-footer .btn-secondary{border: 1.5px solid $primaryColor!important;background: #fff;}
.o_chatter .o_chatter_topbar > .btn{border: 1.5px solid $primaryColor!important;}
/* .sh_entmate_theme_appmenu_div span.dropdown-item.o_app.active, 
.o_onboarding .o_onboarding_step .o_onboarding_step_content .o_onboarding_step_action {color: $primaryColor !important;} */
.o_calendar_view .o_calendar_widget .fc-month-view .fc-content-skeleton .fc-today .fc-day-number{background-color: $primaryColor !important;}
/*--body-background-color--*/

.o_view_controller .o_form_view .o_form_statusbar{border-bottom: 0px!important;}


@if $body_background_type == 'bg_img'{

  .o_mail_thread .o_thread_message.o_mail_not_discussion, .o_mail_activity .o_thread_message.o_mail_not_discussion{
	background-color: rgba(255, 255, 255, 0) !important;
  }

}

.o_mail_thread .o_thread_message.o_mail_not_discussion,
.o_mail_activity .o_thread_message.o_mail_not_discussion {background-color: rgba(255, 255, 255, 0.5)!important;}
.text-muted {
	color: #4c4c4c !important;
}










  .o_cp_buttons .btn.btn-primary{border: 1.5px solid $primaryColor !important;}
  .o_cp_buttons .btn.btn-primary:hover{background-color: $primary_hover !important;border-color: $primary_hover !important;box-shadow: none !important;}
  .o_control_panel{background-color: #fff ;} 
  .o_control_panel .breadcrumb{background-color: #ffffff;}
  .o_calendar_view .o_calendar_widget .fc-month-view .fc-content-skeleton .fc-today .fc-day-number{background-color: #FC3D39 !important;} 
  .o_view_controller .o_form_view .o_form_statusbar{border-bottom: 1px solid #ced4da !important;} 
  .o_statusbar_buttons .btn-secondary{border: 1.5px solid transparent !important;}
  .o_statusbar_buttons .btn-secondary:hover{background-color: #e6e5e5 !important;border-color: #e6e5e5 !important;}
  .o_statusbar_buttons .btn.btn-primary:hover{border-color: $primary_hover !important;}
  .o_chatter .o_chatter_topbar .btn{border: 0px !important;} 
  .o_form_view .oe_chatter{max-width: 1172px !important;}
  .modal-footer .btn-secondary{border-color: transparent !important;}
  .o_field_widget.o_field_many2manytags .o_tag_color_1, .o_field_widget.o_field_many2manytags .o_tag_color_1::after{border-radius: 20px;}
  .o_field_widget.o_field_many2manytags .badge{border-radius: 20px;}
  
  
  
  /* .o_form_statusbar .o_statusbar_status .btn-secondary.disabled, .btn-secondary:disabled{background: #ffffff !important;border-color: #ffffff !important;} */
  
  
  .o_form_view .o_form_statusbar{border-bottom: 1px solid #ced4da !important;}
  .o_mail_thread .o_thread_message.o_mail_not_discussion, .o_mail_activity .o_thread_message.o_mail_not_discussion{background-color: rgba(222, 226, 230, 0.5) !important;}
  .o_calendar_sidebar_container .ui-datepicker td.ui-datepicker-current-day.ui-datepicker-today a{background: #FC3D39 !important;color: #ffffff !important;}
  
  .o_chatter .o_chatter_topbar .btn{color: $primaryColor !important;}
  .o_activity_view .o_record_selector{color: $primaryColor !important;}
  
  
  
  @media (min-width: 768px){
    .o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button.btn-primary.disabled{background-color: #e9ecef !important;}
  }
  
  


/* Rachana */

@if $radio_style == 'default'{

.o_radio_item .custom-control-input:checked ~ .custom-control-label::before{    border-color: $primaryColor;
    background-color: $primaryColor !important; }

.custom-radio .custom-control-input:checked ~ .custom-control-label::after{background-image: url(/sh_entmate_theme/static/src/icons/gray_circle.svg);}

}
  .o_mail_systray_item .o_notification_counter,.o_MessagingMenu_counter{background: $primary_hover !important;}

.bg-primary{background: $primaryColor !important;}
div.o_boolean_toggle.custom-control.custom-checkbox > input.custom-control-input:checked + label.custom-control-label::before{background: $primaryColor !important;}




/* 31-10-2020 */
.btn-secondary.disabled, .o_radio_hide_bullet label.disabled, .btn-secondary:disabled, .o_radio_hide_bullet label:disabled{background: #fff !important;}
.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button:not(:first-child):before, .o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button:not(:first-child):after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: auto;
    bottom: auto;
    right: -10px;
    border-top: 16px solid transparent !important;
    border-bottom: 17px solid transparent !important;
    border-right: none !important;
    border-left: 11px solid white !important;
    transition: border 0.2s ease 0s;
    -moz-transform: scale(0.9999);
}
.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button:not(:first-child):before{right: -11px;border-left-color: #dee2e6 !important;}
.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button.btn-primary.disabled:after {border-left-color: #e9ecef !important;}

/* 12-11-2020 */

@media only screen and (max-width: 576px){
	.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle,
	.btn-secondary:not(:disabled):not(.disabled):focus{background: $primaryColor !important;opacity: 1;color: #fff !important;}
}


/* 21-11-2020 */

@media only screen and (max-width: 576px){
	.o_statusbar_buttons_dropdown.btn.btn-secondary.dropdown-toggle{background: $primaryColor !important;color: #ffffff;text-transform: uppercase;font-weight: 500;}
}
@media only screen and (max-width: 576px){
	@if $mobile_icon_style == 'default'{
		.o_control_panel .o_cp_bottom .o_cp_bottom_left .o_cp_buttons .o-kanban-button-new .fa-plus:before{display: none;}
		.o_control_panel .o_cp_bottom .o_cp_bottom_left .o_cp_buttons .o-kanban-button-new,.o_control_panel .o_form_buttons_view .o_form_button_edit,
		.o_control_panel .o_cp_bottom .o_cp_bottom_left .o_cp_buttons .o_list_button_add,
		.o_control_panel .o_cp_bottom .o_cp_bottom_left .o_cp_buttons .o_form_button_save{color: #fff;background: $primaryColor !important;}
	}
	
}


/* 23-11-2020 */

 button.o_calendar_button_month.btn.btn-secondary,
      button.o_calendar_button_day.btn.btn-secondary,
      button.o_calendar_button_week.btn.btn-secondary,
      button.o_calendar_button_year.btn.btn-secondary{color: $primaryColor !important;opacity: 1;}

@media only screen and (max-width: 768px){
	@if $mobile_icon_style == 'default'{
		.o_control_panel .o_form_buttons_view .o_form_button_edit{color: #fff !important;}
		.o_control_panel .o_form_buttons_view .o_form_button_create{color: $primaryColor !important;}
	}
}


/* 11-12-2020 */

.o_user_bookmark_menu a.active{color: #212121 !important;}

h2{color:$h2_color!important;font-size: $h2_size!important;}




